@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");
body {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-family: "Poppins", sans-serif;
  color: #00252e;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #808d99;
}

button {
  color: white;
  background-color: #ff52bf;
  padding: 1em 4em;
  border-radius: 3em;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  -webkit-box-shadow: 4px 4px 15px 4px #eee;
          box-shadow: 4px 4px 15px 4px #eee;
  border: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

#topSection {
  display: -ms-grid;
  display: grid;
  gap: 2em;
  -ms-grid-columns: 2fr 3fr;
      grid-template-columns: 2fr 3fr;
      grid-template-areas: "top topButton" "text img";
  background-image: url("./images/bg-hero-desktop.svg");
  background-color: #ebfbff;
}

#topSection #build {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: text;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 90%;
  padding-left: 7em;
}

#topSection #build h1 {
  font-size: 2em;
}

#topSection #build p {
  color: #00252e;
  margin-bottom: 2em;
}

#topSection #visual {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: img;
  width: 80%;
  height: auto;
  padding: 5em;
}

#logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: top;
  margin: 5em 0 0em 7em;
}

#topBtn {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: topButton;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  color: #00252e;
  background-color: white;
  margin-right: 7em;
  padding: 0.82em 6.5em;
  border-radius: 3em;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  -webkit-box-shadow: 4px 4px 15px 4px #eee;
          box-shadow: 4px 4px 15px 4px #eee;
  border: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

#secondSection {
  display: -ms-grid;
  display: grid;
  gap: 2em;
  width: 80vw;
  border-radius: 1em;
  -webkit-box-shadow: 4px 4px 15px 4px #eee;
          box-shadow: 4px 4px 15px 4px #eee;
  margin: 3em auto;
  padding: 2em;
  -ms-grid-columns: 3fr 2fr;
      grid-template-columns: 3fr 2fr;
      grid-template-areas: "left right";
}

#secondSection #grow {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: left;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 6em;
}

#secondSection #grow h1 {
  font-size: 1.5em;
}

#secondSection #visual2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: right;
  width: 100%;
  height: auto;
}

#thirdSection {
  display: -ms-grid;
  display: grid;
  gap: 2em;
  width: 80vw;
  border-radius: 1em;
  -webkit-box-shadow: 4px 4px 15px 4px #eee;
          box-shadow: 4px 4px 15px 4px #eee;
  margin: 3em auto;
  padding: 2em;
  -ms-grid-columns: 2fr 3fr;
      grid-template-columns: 2fr 3fr;
      grid-template-areas: "left right";
}

#thirdSection #flow {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: right;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 6em;
}

#thirdSection #flow h1 {
  font-size: 1.5em;
}

#thirdSection #visual3 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: left;
  width: 100%;
  height: auto;
}

#fourthSection {
  display: -ms-grid;
  display: grid;
  gap: 2em;
  width: 80vw;
  border-radius: 1em;
  -webkit-box-shadow: 4px 4px 15px 4px #eee;
          box-shadow: 4px 4px 15px 4px #eee;
  margin: 3em auto;
  padding: 2em;
  -ms-grid-columns: 3fr 2fr;
      grid-template-columns: 3fr 2fr;
      grid-template-areas: "left right";
}

#fourthSection #users {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: left;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 6em;
}

#fourthSection #users h1 {
  font-size: 1.5em;
}

#fourthSection #visuals4 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: right;
  width: 100%;
  height: auto;
}

#card {
  display: -ms-grid;
  display: grid;
  gap: 2em;
  width: 80vw;
  border-radius: 1em;
  -webkit-box-shadow: 4px 4px 15px 4px #eee;
          box-shadow: 4px 4px 15px 4px #eee;
  margin: 3em auto;
  padding: 2em;
  width: 50vw;
  margin-top: 5em;
  margin-bottom: 0;
  background-color: white;
  z-index: 2;
  position: relative;
  text-align: center;
  top: 6em;
  -webkit-box-shadow: 0 4px 8px 0 rgba(133, 133, 133, 0.2), 0 6px 20px 0 rgba(133, 133, 133, 0.19);
          box-shadow: 0 4px 8px 0 rgba(133, 133, 133, 0.2), 0 6px 20px 0 rgba(133, 133, 133, 0.19);
}

#card h1 {
  font-size: 2em;
}

#card button {
  color: white;
  margin: 2em auto;
  background-color: #ff52bf;
  padding: 2em 8em;
  border-radius: 3em;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  -webkit-box-shadow: 4px 4px 15px 4px #eee;
          box-shadow: 4px 4px 15px 4px #eee;
  border: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  box-shadow: 4px 4px 15px 4px #eee;
}

footer {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "huddle menu media" "foot foot foot";
  -ms-grid-columns: 3fr 2fr 2fr;
      grid-template-columns: 3fr 2fr 2fr;
  position: absolute;
  background-color: #00252e;
  width: 100vw;
  font-family: "Open Sans", sans-serif;
  padding-top: 10em;
  color: #ebfbff;
}

footer p {
  color: #ebfbff;
}

footer #huddle {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: huddle;
  padding: 4em;
  margin-left: 3em;
}

footer #huddle .logoLight {
  padding-bottom: 1em;
}

footer #huddle .textImg {
  display: inline;
  padding: 1em 0;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "iconLocation location" "iconPhone phone" "iconMail mail";
  -webkit-column-gap: 1em;
          column-gap: 1em;
  row-gap: 2em;
}

footer #huddle .textImg #iconLocation {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: iconLocation;
  padding: 0.5em;
}

footer #huddle .textImg #location {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: location;
  padding: 0.2em;
}

footer #menu {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: menu;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 2em;
}

footer #menu .menu {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

footer #menu .menu a {
  display: block;
  margin: 1em;
}

footer a {
  text-decoration: none;
  color: #ebfbff;
}

footer a:hover {
  color: #ff52bf;
}

footer #media {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: media;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -ms-grid;
  display: grid;
  grid-row: row auto;
  row-gap: 10em;
}

footer #media span {
  margin-top: 8em;
}

footer #media span svg {
  border: 1px solid white;
  border-radius: 50%;
  margin: 0.6em;
  padding: 10px;
  width: 1em;
}

footer .attribution {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: foot;
  text-align: center;
}

@media (max-width: 375px) {
  h1 {
    font-size: 1.25em;
  }
  p {
    font-size: 14px;
  }
  button {
    padding: 0.75em 3em;
  }
  body {
    margin: 0;
    padding: 0;
  }
  #topSection {
    width: 100vw;
    background-image: url("./images/bg-hero-mobile.svg");
    background-color: #ebfbff;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "top topButton" "text text" "img img";
    gap: 0.5em;
  }
  #topSection h1 {
    font-size: 1.25em;
  }
  #topSection #logo {
    margin: 2em 0 0 2em;
    width: 45%;
    -ms-grid-column-align: start;
        justify-self: start;
  }
  #topSection #topBtn {
    padding: 0.2em 1.5em;
    margin-right: 0;
  }
  #topSection #build {
    text-align: center;
    padding-left: 0;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  #topSection #build h1 {
    font-size: 1.25em;
    text-align: center;
  }
  #topSection #visual {
    -ms-grid-column-align: center;
        justify-self: center;
    padding: 2em;
  }
  #secondSection {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "right right" "left left";
    text-align: center;
  }
  #secondSection #grow {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding: 1em;
  }
  #secondSection #grow h1 {
    font-size: 1em;
  }
  #secondSection #visual2 {
    width: 100%;
    height: auto;
  }
  #thirdSection {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "left left" "right right";
    text-align: center;
  }
  #thirdSection #flow {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding: 1em;
  }
  #thirdSection #flow h1 {
    font-size: 1em;
  }
  #thirdSection #visual3 {
    width: 100%;
    height: auto;
  }
  #fourthSection {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "right right" "left left";
    text-align: center;
  }
  #fourthSection #users {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding: 1em;
  }
  #fourthSection #users h1 {
    font-size: 1em;
  }
  #fourthSection #visuals4 {
    width: 100%;
    height: auto;
  }
  #card {
    width: 70vw;
    margin-top: 0;
    margin-bottom: 0;
    background-color: white;
    z-index: 2;
    position: relative;
    text-align: center;
    top: 6em;
    padding: 1em;
    row-gap: 0;
  }
  #card h1 {
    font-size: 0.9em;
  }
  #card button {
    margin: 1.5em auto;
    padding: 1em 4em;
  }
  footer {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "huddle" "menu" "media" "foot";
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding-top: 8em;
  }
  footer #huddle {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: huddle;
    padding: 1em;
    margin-left: 0em;
  }
  footer #huddle .logoLight {
    padding-bottom: 0.5em;
    width: 50%;
  }
  footer #huddle .textImg {
    row-gap: 1.5em;
  }
  footer #menu {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: menu;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin-bottom: 2em;
  }
  footer #menu .menu {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  footer #menu .menu a {
    margin: 1em;
  }
  footer #media {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: media;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -ms-grid;
    display: grid;
    grid-row: row auto;
    row-gap: 2em;
  }
  footer #media span {
    margin-top: 1em;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  footer .attribution {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: foot;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */