@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");
$primary: hsl(322, 100%, 66%);
$paleCyan: hsl(193, 100%, 96%);
$darkCyan: hsl(192, 100%, 9%);
$grayishBlue: hsl(208, 11%, 55%);
$shadow: 4px 4px 15px 4px #eee;
$headings: "Poppins", sans-serif;
$body: "Open Sans", sans-serif;

body {
  margin: 0;
  padding: 0;
}
@mixin buttonStyle {
  border-radius: 3em;
  font-family: $body;
  font-weight: 700;
  box-shadow: $shadow;
  border: none;
  width: fit-content;
}
@mixin sections {
  display: grid;
  gap: 2em;
  width: 80vw;
  border-radius: 1em;
  box-shadow: $shadow;
  margin: 3em auto;
  padding: 2em;
}
h1,
h2 {
  font-family: $headings;
  color: $darkCyan;
}
p {
  font-family: $body;
  font-size: 18px;
  color: $grayishBlue;
}

button {
  color: white;
  background-color: $primary;
  padding: 1em 4em;
  @include buttonStyle();
}

#topSection {
  display: grid;
  gap: 2em;
  grid-template-columns: 2fr 3fr;
  grid-template-areas: "top topButton" "text img";
  background-image: url("./images/bg-hero-desktop.svg");
  background-color: $paleCyan;
  #build {
    grid-area: text;
    align-self: center;
    width: 90%;
    padding-left: 7em;
    h1 {
      font-size: 2em;
    }
    p {
      color: $darkCyan;
      margin-bottom: 2em;
    }
  }
  #visual {
    grid-area: img;
    width: 80%;
    height: auto;
    padding: 5em;
  }
}
#logo {
  grid-area: top;

  margin: 5em 0 0em 7em;
}
#topBtn {
  grid-area: topButton;
  justify-self: end;
  align-self: end;
  color: $darkCyan;
  background-color: white;
  margin-right: 7em;
  padding: 0.82em 6.5em;
  @include buttonStyle();
}
#secondSection {
  @include sections();
  grid-template-columns: 3fr 2fr;
  grid-template-areas: "left right";
  #grow {
    grid-area: left;
    align-self: center;
    padding: 6em;
    h1 {
      font-size: 1.5em;
    }
  }
  #visual2 {
    grid-area: right;
    width: 100%;
    height: auto;
  }
}
#thirdSection {
  @include sections();
  grid-template-columns: 2fr 3fr;
  grid-template-areas: "left right";
  #flow {
    grid-area: right;
    align-self: center;
    padding: 6em;
    h1 {
      font-size: 1.5em;
    }
  }
  #visual3 {
    grid-area: left;
    width: 100%;
    height: auto;
  }
}
#fourthSection {
  @include sections();
  grid-template-columns: 3fr 2fr;
  grid-template-areas: "left right";
  #users {
    grid-area: left;
    align-self: center;
    padding: 6em;
    h1 {
      font-size: 1.5em;
    }
  }
  #visuals4 {
    grid-area: right;
    width: 100%;
    height: auto;
  }
}
#card {
  @include sections();
  width: 50vw;
  margin-top: 5em;
  margin-bottom: 0;
  background-color: white;
  z-index: 2;
  position: relative;
  text-align: center;
  top: 6em;
  box-shadow: 0 4px 8px 0 rgba(133, 133, 133, 0.2),
    0 6px 20px 0 rgba(133, 133, 133, 0.19);
  h1 {
    font-size: 2em;
  }
  button {
    color: white;
    margin: 2em auto;
    background-color: $primary;
    padding: 2em 8em;
    @include buttonStyle();
    box-shadow: $shadow;
  }
}

footer {
  display: grid;
  grid-template-areas: "huddle menu media" "foot foot foot";
  grid-template-columns: 3fr 2fr 2fr;
  position: absolute;
  background-color: $darkCyan;
  width: 100vw;
  font-family: $body;
  padding-top: 10em;
  color: $paleCyan;
  p {
    color: $paleCyan;
  }
  #huddle {
    grid-area: huddle;
    padding: 4em;
    margin-left: 3em;
    .logoLight {
      padding-bottom: 1em;
    }
    .textImg {
      display: inline;
      padding: 1em 0;
      display: grid;
      grid-template-areas: "iconLocation location" "iconPhone phone" "iconMail mail";
      column-gap: 1em;
      row-gap: 2em;
      #iconLocation {
        grid-area: iconLocation;
        padding: 0.5em;
      }
      #location {
        grid-area: location;
        padding: 0.2em;
      }
    }
  }
  #menu {
    grid-area: menu;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    margin-bottom: 2em;
    .menu {
      width: fit-content;

      a {
        display: block;
        margin: 1em;
      }
    }
  }
  a {
    text-decoration: none;
    color: $paleCyan;
    &:hover {
      color: $primary;
    }
  }
  #media {
    grid-area: media;
    justify-content: center;
    display: grid;
    grid-row: row auto;
    row-gap: 10em;

    span {
      margin-top: 8em;
      svg {
        border: 1px solid white;
        border-radius: 50%;
        margin: 0.6em;
        padding: 10px;
        width: 1em;
      }
    }
  }
  .attribution {
    grid-area: foot;
    text-align: center;
  }
}
@media (max-width: 375px) {
  h1 {
    font-size: 1.25em;
  }
  p {
    font-size: 14px;
  }
  button {
    padding: 0.75em 3em;
  }
  @mixin sections {
    display: grid;
    width: 80vw;
    border-radius: 1em;
    box-shadow: $shadow;
    margin: 2em auto;
    padding: 1em;
  }
  body {
    margin: 0;
    padding: 0;
  }

  #topSection {
    width: 100vw;
    background-image: url("./images/bg-hero-mobile.svg");
    background-color: $paleCyan;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "top topButton" "text text" "img img";
    gap: 0.5em;
    h1 {
      font-size: 1.25em;
    }
    #logo {
      margin: 2em 0 0 2em;
      width: 45%;
      justify-self: start;
    }
    #topBtn {
      padding: 0.2em 1.5em;
      margin-right: 0;
    }
    #build {
      text-align: center;
      padding-left: 0;
      h1 {
        font-size: 1.25em;
        text-align: center;
      }
      justify-self: center;
    }
    #visual {
      justify-self: center;
      padding: 2em;
    }
  }
  #secondSection {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "right right" "left left";
    text-align: center;
    #grow {
      align-self: center;
      padding: 1em;
      h1 {
        font-size: 1em;
      }
    }
    #visual2 {
      width: 100%;
      height: auto;
    }
  }
  #thirdSection {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left left" "right right";
    text-align: center;
    #flow {
      align-self: center;
      padding: 1em;
      h1 {
        font-size: 1em;
      }
    }
    #visual3 {
      width: 100%;
      height: auto;
    }
  }
  #fourthSection {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "right right" "left left";
    text-align: center;
    #users {
      align-self: center;
      padding: 1em;
      h1 {
        font-size: 1em;
      }
    }
    #visuals4 {
      width: 100%;
      height: auto;
    }
  }
  #card {
    width: 70vw;
    margin-top: 0;
    margin-bottom: 0;
    background-color: white;
    z-index: 2;
    position: relative;
    text-align: center;
    top: 6em;
    padding: 1em;
    row-gap: 0;
    h1 {
      font-size: 0.9em;
    }
    button {
      margin: 1.5em auto;

      padding: 1em 4em;
    }
  }
  footer {
    display: grid;
    grid-template-areas: "huddle" "menu" "media" "foot";
    grid-template-columns: 1fr;
    padding-top: 8em;
    #huddle {
      grid-area: huddle;
      padding: 1em;
      margin-left: 0em;
      .logoLight {
        padding-bottom: 0.5em;
        width: 50%;
      }
      .textImg {
        row-gap: 1.5em;
      }
    }
    #menu {
      grid-area: menu;
      grid-template-columns: 1fr;
      margin-bottom: 2em;
      .menu {
        margin-bottom: 0;
        padding-bottom: 0;

        a {
          margin: 1em;
        }
      }
    }

    #media {
      grid-area: media;
      justify-content: center;
      display: grid;
      grid-row: row auto;
      row-gap: 2em;

      span {
        margin-top: 1em;
        justify-self: center;
      }
    }
    .attribution {
      grid-area: foot;
      text-align: center;
    }
  }
}
