@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");
h1 {
  font-family: "Poppins", sans-serif;
  color: #00252e;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #808d99;
}

button {
  color: white;
  background-color: #ff52bf;
  padding: 1em 4em;
  border-radius: 3em;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  -webkit-box-shadow: 4px 4px 15px 4px #eee;
          box-shadow: 4px 4px 15px 4px #eee;
  border: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#topSection {
  display: -ms-grid;
  display: grid;
  gap: 2em;
  -ms-grid-columns: 2fr 3fr;
      grid-template-columns: 2fr 3fr;
      grid-template-areas: "top topButton" "text img";
  background-image: url("./images/bg-hero-desktop.svg");
  background-color: #ebfbff;
}

#topSection #build {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: text;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 90%;
  padding-left: 7em;
}

#topSection #build h1 {
  font-size: 2em;
}

#topSection #build p {
  color: #00252e;
  margin-bottom: 2em;
}

#topSection #visual {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: img;
  width: 80%;
  height: auto;
  padding: 5em;
}

#logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: top;
  margin: 5em 0 0em 7em;
}

#topBtn {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: topButton;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  color: #00252e;
  background-color: white;
  margin-right: 7em;
  padding: 0.82em 6.5em;
  border-radius: 3em;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  -webkit-box-shadow: 4px 4px 15px 4px #eee;
          box-shadow: 4px 4px 15px 4px #eee;
  border: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#secondSection {
  display: -ms-grid;
  display: grid;
  gap: 2em;
  width: 80vw;
  border-radius: 1em;
  -webkit-box-shadow: 4px 4px 15px 4px #eee;
          box-shadow: 4px 4px 15px 4px #eee;
  margin: 3em auto;
  padding: 2em;
  -ms-grid-columns: 3fr 2fr;
      grid-template-columns: 3fr 2fr;
      grid-template-areas: "left right";
}

#secondSection #grow {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: left;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 6em;
}

#secondSection #grow h1 {
  font-size: 1.5em;
}

#secondSection #visual2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: right;
  width: 100%;
  height: auto;
}

#thirdSection {
  display: -ms-grid;
  display: grid;
  gap: 2em;
  width: 80vw;
  border-radius: 1em;
  -webkit-box-shadow: 4px 4px 15px 4px #eee;
          box-shadow: 4px 4px 15px 4px #eee;
  margin: 3em auto;
  padding: 2em;
  -ms-grid-columns: 2fr 3fr;
      grid-template-columns: 2fr 3fr;
      grid-template-areas: "left right";
}

#thirdSection #flow {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: right;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 6em;
}

#thirdSection #flow h1 {
  font-size: 1.5em;
}

#thirdSection #visual3 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: left;
  width: 100%;
  height: auto;
}

#fourthSection {
  display: -ms-grid;
  display: grid;
  gap: 2em;
  width: 80vw;
  border-radius: 1em;
  -webkit-box-shadow: 4px 4px 15px 4px #eee;
          box-shadow: 4px 4px 15px 4px #eee;
  margin: 3em auto;
  padding: 2em;
  -ms-grid-columns: 3fr 2fr;
      grid-template-columns: 3fr 2fr;
      grid-template-areas: "left right";
}

#fourthSection #users {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: left;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 6em;
}

#fourthSection #users h1 {
  font-size: 1.5em;
}

#fourthSection #visuals4 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: right;
  width: 100%;
  height: auto;
}

#card {
  display: -ms-grid;
  display: grid;
  gap: 2em;
  width: 80vw;
  border-radius: 1em;
  -webkit-box-shadow: 4px 4px 15px 4px #eee;
          box-shadow: 4px 4px 15px 4px #eee;
  margin: 3em auto;
  padding: 2em;
  width: 50vw;
  margin-top: 5em;
  margin-bottom: 0;
  background-color: white;
  z-index: 2;
  position: relative;
  text-align: center;
  top: 6em;
}

#card h1 {
  font-size: 2em;
}

#card button {
  color: white;
  margin: 2em auto;
  background-color: #ff52bf;
  padding: 2em 8em;
  border-radius: 3em;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  -webkit-box-shadow: 4px 4px 15px 4px #eee;
          box-shadow: 4px 4px 15px 4px #eee;
  border: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  box-shadow: 4px 4px 15px 4px #eee;
}

footer {
  position: absolute;
  background-color: #00252e;
  width: 100vw;
}
/*# sourceMappingURL=style.css.map */