@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");
$primary: hsl(322, 100%, 66%);
$paleCyan: hsl(193, 100%, 96%);
$darkCyan: hsl(192, 100%, 9%);
$grayishBlue: hsl(208, 11%, 55%);
$shadow: 2px 4px 10px 2px #ddd;
$headings: "Poppins", sans-serif;
$body: "Open Sans", sans-serif;

@mixin buttonStyle {
  border-radius: 3em;
  font-family: $body;
  font-weight: 700;
  box-shadow: $shadow;
  border: none;
  width: fit-content;
}
@mixin sections {
  display: grid;
  gap: 2em;
  width: 80vw;
  border-radius: 1em;
  box-shadow: $shadow;
  margin: 3em auto;
  padding: 2em;
}
h1 {
  font-family: $headings;
  color: $darkCyan;
}
p {
  font-family: $body;
  font-size: 18px;
  color: $grayishBlue;
}

button {
  color: white;
  background-color: $primary;
  padding: 1em 4em;
  @include buttonStyle();
}

#topSection {
  display: grid;
  gap: 2em;
  grid-template-columns: 2fr 3fr;
  grid-template-areas: "top topButton" "text img";
  background-image: url("./images/bg-hero-desktop.svg");
  background-color: $paleCyan;
  #build {
    grid-area: text;
    align-self: center;
    width: 90%;
    padding-left: 7em;
    h1 {
      font-size: 2em;
    }
    p {
      color: $darkCyan;
      margin-bottom: 2em;
    }
  }
  #visual {
    grid-area: img;
    width: 80%;
    height: auto;
    padding: 5em;
  }
}
#logo {
  grid-area: top;

  margin: 5em 0 0em 7em;
}
#topBtn {
  grid-area: topButton;
  justify-self: end;
  align-self: end;
  color: $darkCyan;
  background-color: white;
  margin-right: 7em;
  padding: 0.82em 6.5em;
  @include buttonStyle();
}
#secondSection {
  @include sections();
  grid-template-columns: 3fr 2fr;
  grid-template-areas: "left right";
  #grow {
    grid-area: left;
    align-self: center;
    padding: 6em;
    h1 {
      font-size: 1.5em;
    }
  }
  #visual2 {
    grid-area: right;
    width: 100%;
    height: auto;
  }
}
#thirdSection {
  @include sections();
}
#fourthSection {
  @include sections();
}
#card {
  @include sections();
  width: 50vw;
  button {
    color: white;
    background-color: $primary;
    padding: 2em 8em;
    @include buttonStyle();
  }
}

footer {
  background-color: $darkCyan;
  width: 100vw;
}
// @media (max-width: 375px) {
//   #topSection {
//     display: grid;
//     gap: 2em;
//     grid-template-columns: 2fr 2fr;
//     grid-template-areas: "top topButton" "text text" "img img";
//     background-image: url("./images/bg-hero-mobile.svg");
//     background-color: $paleCyan;
//   }
// }
